<header *ngIf="!isActive">
  <nav class="container flex items-center justify-between py-8">
    <!-- logo -->
    <div>
      <img src="/assets/images/logo-bookmark.svg" alt="Logo">
    </div>
    <!-- end logo -->

    <!-- links desktop-->
    <ul class="items-center hidden gap-10 desktop:flex">
      <li><a class="hover:text-danger" href="#">FEATURES</a></li>
      <li><a class="hover:text-danger" href="#">PRICING</a></li>
      <li><a class="hover:text-danger" href="#">CONTACT</a></li>
      <li><a class="btn btn-danger" href="#">LOGIN</a></li>
    </ul>
    <!-- end links desktop-->

    <!-- hamburger -->
    <div (click)="isActive=true" class="cursor-pointer desktop:hidden">
      <img src="/assets/images/icon-hamburger.svg" alt="Hamburger">
    </div>
    <!-- end hamburger -->
  </nav>
</header>


<!-- modal mobile nav active -->
<header *ngIf="isActive" class="fixed top-0 left-0 z-50 w-full h-screen bg-modal-box/90">
  <div class="container flex flex-col items-center">

    <nav class="flex items-center justify-between w-full py-8 mt-">
      <!-- logo -->
      <div>
        <img src="/assets/images/logo-bookmark-white.svg" alt="Logo">
      </div>
      <!-- end logo -->


      <!-- hamburger -->
      <div (click)="isActive=false" class="cursor-pointer">
        <img src="/assets/images/icon-close.svg" alt="Hamburger">
      </div>
      <!-- end hamburger -->
    </nav>

    <!-- links -->
    <ul class="w-full max-w-lg mt-6 links-mobile">
      <li><a class="hover:text-danger" href="#">FEATURES</a></li>
      <li><a class="hover:text-danger" href="#">PRICING</a></li>
      <li><a class="hover:text-danger" href="#">CONTACT</a></li>
      <li><a class="w-full py-4 btn btn-outline !text-xl" href="#">LOGIN</a></li>
    </ul>
    <!-- end links -->

    <!-- socials -->
    <ul class="flex gap-10 mt-32 text-3xl text-white">
      <li>
        <a class="hover:text-danger" href="#"><span class="fab fa-facebook-square"></span></a>
      </li>
      <li>
        <a class="hover:text-danger" href="#"><span class="fab fa-twitter"></span></a>
      </li>
    </ul>
    <!-- end socials -->
  </div>
</header>
<!-- modal mobile nav active -->
