@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    //colors
    --soft-blue: 231, 69%, 60%;
    --soft-red: 0, 94%, 66%;
    --grayish-blue: 229, 8%, 60%;
    --white: 0, 0%, 100%;
    --very-dark-blue: 229, 31%, 21%;

    ////////////////////
    // text colors /////
    ////////////////////
    --text-fill: var(--very-dark-blue);
    --text-muted: var(--grayish-blue);
    --text-inverted: var(--white);
    --text-primary: var(--soft-blue);
    --text-danger: var(--soft-red);

    /////////////////////////////
    // background colors /////////
    /////////////////////////////
    --bg-fill: var(--red);
    --bg-form: var(--white);
    --bg-footer: var(--very-dark-blue);
    --bg-primary: var(--soft-blue);
    --bg-danger: var(--soft-red);
    --bg-modal-box: var(--very-dark-blue);

    /////////////////////////////
    // background button colors /////////
    /////////////////////////////
    --bg-button-primary: var(--blue);
    --bg-button-success: var(--green);

    /////////////////////////////
    // border colors /////////////
    /////////////////////////////
    --border-fill: var(--grayish-blue);
    --border-danger: var(--soft-red);
    --border-primary: var(--soft-blue);
  }

  //make default form look nice
  [type="text"],
  [type="email"] {
    @apply w-full border-none  text-black rounded-lg shadow-sm;
  }
}

input.ng-invalid.ng-touched {
  @apply border-2 border-danger;
}

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }

  .btn {
    @apply inline-block py-2 px-4 shadow-lg text-xs tablet:text-base tablet:px-8 text-center desktop:px-10 border-2 border-transparent;
  }

  .btn-outline {
    @apply rounded-md border-2 border-white hover:border-black hover:text-black hover:bg-white;
  }

  .btn-primary {
    @apply bg-primary text-white font-bold rounded-md py-3 px-5 tablet:px-8 hover:border-primary hover:text-primary hover:bg-white;
  }

  .btn-basic {
    @apply bg-white text-fill/70 font-bold rounded-md py-3 px-5 hover:bg-white hover:border-black;
  }

  .btn-danger {
    @apply bg-danger border-2 border-transparent text-white font-bold rounded-lg py-3 px-5 text-sm desktop:px-10 hover:text-danger hover:bg-white  hover:border-danger;
  }
}
